body{
	margin-left: 1em;
}

.header{
	height: 6em;
	background:#fff;
	border-bottom:1px solid #eee;
}

.header h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content{
	margin-top: 10em;
}

#record_image{
	width: 250px;
	height: auto;
}

/*B&W*/
#record_image {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
#record_image:active {
  -webkit-filter: grayscale(100%);
  width: 240px;
}

input{
	width: 100%;
}

#output_translation{
	height: 356px;
	width: 100%;
}